---
Language:        Cpp
BasedOnStyle:  WebKit

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands:   true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Inline
MaxEmptyLinesToKeep: 2
SpacesBeforeTrailingComments: 4
SortIncludes:    false
TabWidth:        4
ColumnLimit:     150
